<div class="author">
  <h1 class="author__heading">Hi, I am Abir.</h1>
  <p class="author__body">Welcome to my personal blog - a space where thoughts, ideas, and experiences come to life! Here, I share my journey through life, covering a wide range of topics that inspire, challenge, and motivate.
     From personal reflections and creative writing to deep dives into technology, 
    travel adventures, and more, this blog is a reflection of my passions and curiosities.</p>
</div>

<img src="/img/profile.jpeg" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <div class="header__button">
    <button class="searchBtn" aria-expanded="false">
      Search
      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.79167 13.4583C10.9213 13.4583 13.4583 10.9213 13.4583 7.79167C13.4583 4.66205 10.9213 2.125 7.79167 2.125C4.66205 2.125 2.125 4.66205 2.125 7.79167C2.125 10.9213 4.66205 13.4583 7.79167 13.4583Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M14.875 14.875L11.7938 11.7938" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>

  <ul class="article-ul">

    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>" >   <%# This link goes to post and then we pass the id of the blog post. %>
        <span><%= post.title %> </span>
        <span class="article-list__date"> <%= post.createdAt %> </span>
      </a>
    </li>
    <% }) %>
  </ul>


  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination"> &lt; View Older Posts</a>
  <% } %>

  <%# The ?page= part tells the server that you're including a query string with a parameter named page. %>




  






</section>