<div class="author">
  <h1 class="author__heading">Hi, I am Abir.</h1>
  <p class="author__body">I am a student and Web developer.</p>
</div>

<img src="/img/profile.jpeg" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">

    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>" >   <%# This link goes to post and then we pass the id of the blog post. %>
        <span><%= post.title %> </span>
        <span class="article-list__date"> <%= post.createdAt %> </span>
      </a>
    </li>
    <% }) %>
  </ul>


  <% if (nextPage !== null) { %>
    <a href="/?page=<% nextPage %>" class="pagination"> &lt; View Older Posts</a>
  <% } %>

  <%# The ?page= part tells the server that you're including a query string with a parameter named page. %>




  






</section>